:root {
    --navbar-color:#b40909;
    --navbar-text-color:#ffffff;
    --navbar-font-size:16px;
    --navbar-pointer:white;

    --main-section-headingtext-color:#051e3b;
    --main-section-subtext-color:#454545;

}